* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .BookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
    padding: 50px; 
    background-image: url(./darjeeling/booking.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(229, 226, 220, 0.5);
  }
  
  .BookingInput {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }
  
  .BookingInput label {
    color: blue;
  }
  
  .BookingInput input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    height: 2.5rem;
  }
  
  .BookingInput input:focus {
    border-bottom: 0.5rem solid #18E000;
  }
  
  .BookingDate {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 1rem;
    gap: 1rem;
  }
  
  .BookingDate .react-datepicker-wrapper {
    padding: 0.5rem;
  }
  
  .bookingbutton {
    height: 2.5rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #18E000; /* Added background color */
    color: white; /* Added text color */
    cursor: pointer; /* Added cursor style */
  }
  
  .bookingbutton:hover {
    background-color: rgb(34, 165, 8);
  }
  