
.register-Container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding:  0 ,50px;
   
    gap: 5rem;
    margin-top: 2rem;
}

.video {
    flex-shrink: 0;
    
    margin-bottom:1rem ;
}
   
    
    

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    margin-bottom: 1.5rem;
   
}

.Register-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 30rem;
    color: rgb(0, 164, 33);
}

.Register-input >input {
    padding: 0.5rem;
    margin-top: 1rem;
   
    border-bottom:5px solid  #18E000;
    /* width: 100%; */
    /* box-shadow: 0 4px 30px rgba(39, 183, 44, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(57, 178, 91, 0.3) */
}

.register-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color:  #18E000;
}
