
.register-Container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding:  0 ,50px;
   
    gap: 5rem;
    background-color: rgba(229, 226, 220, 0.5);
  
}

.video {
    flex-shrink: 0;
    
    margin-top:1rem ;
}
   
    
    

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 60%;
   
   
}

.Register-input {
    outline: none;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 5px; */
    width: 30rem;
}

.Register-input >input {
    padding: 0.5rem;
    margin-top: 1rem;
  
    
}
.Register-input>input:focus{
    border-bottom: 0.5rem solid #18E000;
    border: 0px solid transparent(0, 0, 0, 0.0);
}

.register-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color:  #18E000;
}
